/* Colors 
60% : background-color:hsl(0, 0%, 96%);
30% : hsla(0, 0%, 0%, 0.338);
10% : accent-colors: hsl(350, 100%, 88%); */

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  text-align: center;
  background-color: hsl(0, 0%, 96%);
  flex-direction: column;
}

.part2 {
  margin: 0;
  padding: 0;
  background-image: url("https://images.pexels.com/photos/5889533/pexels-photo-5889533.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-position: center;
  background-repeat: no-repeat;
  height: 150vh;
  background-size: cover;
  background-position: center;
}

header {
  background-image: url("https://images.pexels.com/photos/7244503/pexels-photo-7244503.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  margin-top: 0;
  /*("https://images.pexels.com/photos/4992807/pexels-photo-4992807.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  height: 80vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
}

button:hover {
  background-color: hsla(0, 0%, 83%, 0.173);
  color: hsl(350, 100%, 88%);
  transition: 0.3s;
}

/*bottom part of main pg*/
#aboutMeSection {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: auto;
  background-color: hsl(0, 0%, 95%);
}

#aboutMeSection:target {
  background-color: hsl(0, 0%, 80%);
}

footer {
  font-size: 14px;
  align-items: center;
  color: hsl(0, 0%, 95%);
  background-color: hsl(0, 0%, 20%);
  padding: 0.5em 2em;
  bottom: auto;
  left: 0;
  width: 100%;
}

/* Media query for mobile view */
@media only screen and (max-width: 600px) {
  .part2 h1 {
    font-size: 1.5em;
  }
  .part2 h2 {
    font-size: 1em;
  }
  .part2 h3 {
    font-size: 1em;
  }

  .part2 h2.a {
    font-size: 1em;
  }

  .maincard {
    max-width: 1em;
    max-height: 20em;
  }

  .part2 {
    height: 300vh;
  }

  .header {
    height: 80vh;
  }

  .webcard {
    max-width: -0.5em;
    max-height: 35em;
  }

  .designcard {
    max-width: auto;
    max-height: 35em;
  }

  .iframe {
    margin: auto;
  }

  .form-container {
    align-items: center;
    font-size: 15px;
    height: 100vh;
  }
}

/*main page cards*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:200);
.maincard {
  font-family: "Montserrat", Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 8px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: hsl(0, 0%, 100%);
  text-align: left;
  font-size: 16px;
  background: hsl(0, 0%, 0%);
}

.maincard *,
.snip1577:before,
.snip1577:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.maincard img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  height: auto;
}

.maincard:before,
.maincard:after {
  position: absolute;
  top: 20px;
  right: 20px;
  content: "";
  background-color: #fff;
  z-index: 1;
  opacity: 0;
}

.maincard:before {
  width: 0;
  height: 1px;
}

.maincard:after {
  height: 0;
  width: 1px;
}

.maincard figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
}

.maincard h3,
.maincard h4 {
  margin: 0;
  font-size: 1.1em;
  font-weight: normal;
  opacity: 0;
}

.maincard h4 {
  font-size: 0.8em;
  text-transform: uppercase;
}

.maincard:hover img,
.maincard.hover img {
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  opacity: 0.2;
}

.maincard:hover:before,
.maincard.hover:before,
.maincard:hover:after,
.maincard.hover:after {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.maincard:hover:before,
.maincard.hover:before {
  width: 40px;
}

.maincard:hover:after,
.maincard.hover:after {
  height: 40px;
}

.maincard:hover h3,
.maincard.hover h3,
.maincard:hover h4,
.maincard.hover h4 {
  opacity: 1;
}

.maincard:hover h3,
.maincard.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.maincard:hover h4,
.maincard.hover h4 {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

.item {
  position: relative;
}

.item a::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
/* WebDev Cards*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:200);
.webcard {
  font-family: "Montserrat", Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 8px;
  min-width: 330px;
  max-width: 500px;
  width: 100%;
  color: hsl(0, 0%, 100%);
  text-align: left;
  font-size: 16px;
  background: hsl(0, 0%, 0%);
  height: 470px;
}

.webcard *,
.snip1577:before,
.snip1577:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.webcard img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  height: auto;
}

.webcard:before,
.webcard:after {
  position: absolute;
  top: 20px;
  right: 20px;
  content: "";
  background-color: #fff;
  z-index: 1;
  opacity: 0;
}

.webcard:before {
  width: 0;
  height: 1px;
}

.webcard:after {
  height: 0;
  width: 1px;
}

.webcard figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
}

.webcard h3,
.webcard h4 {
  margin: 0;
  font-size: 1.1em;
  font-weight: normal;
  opacity: 0;
}

.webcard h4 {
  font-size: 0.8em;
  text-transform: uppercase;
}

.webcard:hover img,
.webcard.hover img {
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  opacity: 0.2;
}

.webcard:hover:before,
.webcard.hover:before,
.webcard:hover:after,
.webcard.hover:after {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.webcard:hover:before,
.webcard.hover:before {
  width: 40px;
}

.webcard:hover:after,
.webcard.hover:after {
  height: 40px;
}

.webcard:hover h3,
.webcard.hover h3,
.webcard:hover h4,
.webcard.hover h4 {
  opacity: 1;
}

.webcard:hover h3,
.webcard.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.webcard:hover h4,
.webcard.hover h4 {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

.item {
  position: relative;
}

.item a::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

/* design Cards*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:200);
.designcard {
  font-family: "Montserrat", Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 8px;
  min-width: 330px;
  max-width: 500px;
  width: 100%;
  color: hsl(0, 0%, 100%);
  text-align: left;
  font-size: 16px;
  background: hsl(0, 0%, 0%);
  height: 380px;
  justify-content: center;
}

.designcard *,
.snip1577:before,
.snip1577:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.designcard img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  height: auto;
}

.designcard:before,
.designcard:after {
  position: absolute;
  top: 20px;
  right: 20px;
  content: "";
  background-color: #fff;
  z-index: 1;
  opacity: 0;
}

.designcard:before {
  width: 0;
  height: 1px;
}

.designcard:after {
  height: 0;
  width: 1px;
}

.designcard figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
}

.designcard h3,
.designcard h4 {
  margin: 0;
  font-size: 1.1em;
  font-weight: normal;
  opacity: 0;
}

.designcard h4 {
  font-size: 0.8em;
  text-transform: uppercase;
}

.designcard:hover img,
.designcard.hover img {
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  opacity: 0.2;
}

.designcard:hover:before,
.designcard.hover:before,
.designcard:hover:after,
.designcard.hover:after {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.designcard:hover:before,
.designcard.hover:before {
  width: 40px;
}

.designcard:hover:after,
.designcard.hover:after {
  height: 40px;
}

.designcard:hover h3,
.designcard.hover h3,
.designcard:hover h4,
.designcard.hover h4 {
  opacity: 1;
}

.designcard:hover h3,
.designcard.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.designcard:hover h4,
.webcard.hover h4 {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

.item {
  position: relative;
}

.item a::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

/*form info contact me */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 50%;
}

.contact {
  height: 100vh;
}
