/* The navbar */
.topnav {
  overflow: hidden;
  font-size: 17px;
  align-items: center;
  background-color: hsl(0, 0%, 50%);
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  position: fixed;
  top: 0;
}

.topnav a:hover {
  color: hsl(350, 100%, 88%);
  transition: 0.3s;
}

.menu-toggle {
  display: none;
}

.current {
  color: hsl(350, 100%, 88%);
}

/* hamburger menu */
.menu-toggle {
  display: none;
}

.hamburger {
  font-size: 24px;
  cursor: pointer;
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
  color: hsl(0, 0%, 100%);
}

.topnav {
  position: relative;
}

.navlist {
  display: flex;
  gap: 1em;
}

/* Media query for mobile view */
@media only screen and (max-width: 600px) {
  .navlist {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background-color: hsl(0, 0%, 20%);
    z-index: 1;
  }

  .menu-toggle:checked + .topnav .navlist {
    display: flex;
  }

  .menu-toggle:checked + .hamburger {
    color: hsl(350, 100%, 88%);
  }

  .hamburger {
    display: block;
  }
}

.current {
  color: hsl(350, 100%, 88%);
}
